form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    border: 1px solid #999;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
label{
    display: flex;
    gap: 1rem;
    font-weight: 600;
    color: #323232;
}