.container{
    width: 100vw;
    height: 83vh;
    display: flex;
    justify-content: center;
}
.grow{
    flex-grow: 1;
}
.col{
    flex-direction: col;
}
.flex{
    display: flex;
}
form{
    padding: 4rem 12rem;
    border-radius: 0%;
    width: 50%;
    background-color: white;
}
.div2{
    width: 50%;
}
input{
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
    border:1px solid #0060df;
}
input[type="submit"]{
    color: #222;
    font-weight: bold;
    width: auto;
    border:1px solid #1F1F1F;
}
fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.bkg{
    background-image: url("https://images.unsplash.com/photo-1620075267033-09d12ec75b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbWljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
a{
    text-decoration:underline;
    color:#0060df;
}